html:root{
    --blue: #10c9c3;
}

footer{
    background-color: #141414
}

.bg-desert{
    background-image: url("../medias/desert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.marg-top5{
    margin-top: 5%;
}

.marg-bot5{
    margin-bottom: 5%;
}

.marg-top15{
    margin-top: 15%;
}

.marg-bot15{
    margin-bottom: 15%;
}

.marg-top25{
    margin-top: 25%;
}

.marg-bot25{
    margin-bottom: 25%;
}

.pad-x25{
    padding-left: 25%;
    padding-right: 25%;
}

.btn-primary {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue)
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

